@font-face {
    src: url('/assets/fonts/Roslindale-DisplayCondensedRegular-Testing.woff2') format("woff2"),
         url('/assets/fonts/Roslindale-DisplayCondensedRegular-Testing.woff') format("woff");
    font-family: 'Roslindale';
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
     src: url('/assets/fonts/Roslindale-DisplayCondensedLight-Testing.woff2') format("woff2"),
          url('/assets/fonts/Roslindale-DisplayCondensedLight-Testing.woff') format("woff");
     font-family: 'Roslindale';
     font-style: normal;
     font-weight: 300;
   }
  @font-face {
    src: url('/assets/fonts/AeonikProTRIAL-Regular.woff2') format("woff2"),
         url('/assets/fonts/AeonikProTRIAL-Regular.woff') format("woff");
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: normal;
  }
  